
<section class="content">
            
    <h1 class="h1">Nuestros servicios </h1>
    <div class="content-aboutUs">
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea tempore qui architecto laboriosam ex ipsum in quisquam mollitia reprehenderit, beatae omnis, quidem doloribus molestias sed, nobis illo ipsam quod. Quidem.</li> 
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod cupiditate explicabo quasi, atque iste quisquam consequatur officia, sit unde voluptatibus quo aliquam aperiam illum accusantium eius impedit labore fugit, fuga vero velit! Illo asperiores incidunt ullam deserunt consequuntur quos est quis, delectus, hic corporis provident. Provident dolorum natus optio. A!</li> 
      <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita tempore hic quos? Laudantium corporis nemo assumenda autem debitis repellat optio voluptatum sunt rerum ad amet soluta consectetur asperiores suscipit facere consequatur quaerat, ea laborum commodi vel aut repellendus esse. Deleniti obcaecati iure maiores temporibus, aperiam necessitatibus repellendus ullam natus rem nesciunt praesentium animi tempora omnis quidem, impedit fugit blanditiis tempore voluptate veniam, inventore voluptatem modi eius eaque? Deleniti esse dolor alias eligendi beatae consectetur sit quidem laudantium vero sequi. Minima recusandae fugiat, quisquam molestias eveniet error repudiandae omnis tenetur ullam ab sequi possimus nemo temporibus nam, facilis necessitatibus quasi nulla?</li>
      <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus facilis, hic similique voluptatibus repellat natus modi non. Magni quo quisquam neque? Tenetur labore, magnam deserunt, consequuntur velit soluta nisi placeat impedit repellendus natus culpa harum adipisci eum ipsum iure nam porro quisquam maiores corporis! Pariatur dicta consequatur nisi placeat quaerat ea nobis ipsam, id atque laudantium fugit quam, facilis dolorem explicabo harum porro culpa aliquid quis. Dolorum adipisci reprehenderit ut officia cumque tempore molestias in non ab? Eum, recusandae consectetur!</li> 

      <div class="photos">
        <img src="img/8da8578b1a753e60ec5370d1750bbbf8.jpg" alt="jenga">
        <img src="img/EVOLUC_1.JPG" alt="naipe">
        <img src="img/D_NQ_NP_838813-MCO40812465102_022020-F.jpg" alt="tio rico">
        <img src="img/laberintocubiko.jpg" alt="laberinto">
        <img src="img/713-1H8XyIL._AC_UX679_.jpg" alt="twister">
        <img src="img/maxresdefault.jpg" alt="dominocreate">
      </div> 
     </ul>
    </div>


  
   <h2 class="first-h2">Conoce dónde están ubicadas nuestras cedes</h2>
   <div class="content-aboutUs">
  <p>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque aperiam sed, eaque placeat eius error illo voluptatem, corporis inventore voluptatibus, deserunt ut. Placeat tenetur voluptas enim rerum, officiis porro eius saepe minima ad dolores quae, unde et repellendus nobis aspernatur? 
  </p>

   <div class="locations">

   <div class="bello-castilla">
   <h3 class="bello">Bello</h3>
   <a href="" title="Dirección Bello">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quae.</a> 

   <h3 class="castilla">Castilla</h3>
   <a href="" title="Dirección Castilla">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quae.</a>  
   </div>

   <div class="robledo-belen">
   <h3 class="robledo">Robledo</h3>
   <a href="" title="Dirección Robledo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quae.</a> 

   <h3 class="belen">Belén</h3>
   <a href="" title="Dirección Belén">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quae.</a> 
   </div>
   </div>
  </div>

   <h2 class="second-h2">Más información sobre nosotros</h2>
    <div class="content-aboutUs">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos incidunt nisi ipsum, quos aperiam illo recusandae nihil est earum, ea nemo praesentium vero aliquid amet dolor possimus repudiandae velit consectetur laborum commodi. Atque est iure inventore voluptatibus laboriosam, culpa, vel at praesentium, ex ipsam perspiciatis molestias quibusdam sed ad quia quo iste facilis animi earum sint dicta tenetur dolorem dolores nostrum. Delectus laboriosam minus deserunt hic repudiandae officia praesentium id repellat fuga asperiores illum sequi, incidunt soluta magnam esse quae fugiat. Aspernatur inventore illo eligendi quidem possimus commodi laboriosam saepe sunt quisquam, molestias, asperiores autem accusamus aut quae dolorum iste.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum praesentium ad expedita facilis quisquam maxime repellat accusamus. Amet iure voluptas qui adipisci quas debitis obcaecati laborum temporibus ipsam, doloremque sint.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure voluptas repudiandae ut sequi illo explicabo molestiae consequatur suscipit numquam qui tempore nemo sit voluptates, rerum porro commodi reprehenderit a eos ipsam optio asperiores sapiente recusandae veniam. Ad tenetur quia non!</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi optio placeat architecto, sit quibusdam expedita doloribus dolores iure corrupti amet corporis incidunt veniam aperiam iusto odit quis quam nemo! Corrupti, rem rerum! Minus unde, soluta dolores, reprehenderit corporis porro cumque, aut inventore recusandae possimus facere minima. Eos, nemo animi? Temporibus debitis quasi necessitatibus sint vero, aliquam quos? Incidunt ut earum officia eum officiis dignissimos quisquam quasi, recusandae sequi qui tempore, corporis, vitae vero porro? Voluptatum rerum, voluptates sit vitae doloremque delectus repellendus vel quis perferendis inventore, earum, non qui aliquid!</p>
  </div>




<div class="accordion">
    <h2 class="pf">Preguntas frecuentes</h2>

    <div class="content-aboutUs-accordeon">

    <!-- ((h3.accordion-title>lorem4)+div.accordion-content>p*2>lorem25)*7 -->
    <div class="accordion-title accordion--open title-posicion">
    <h3>Lorem ipsum dolor sit. </h3>
    <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, odit. Ratione dolorem assumenda necessitatibus, recusandae quisquam, magnam perferendis fugit ducimus nostrum eius quas deleniti illum?</p>
        <p>Animi id, libero dolore natus eos voluptate, alias, tenetur provident quaerat maxime possimus. Laudantium iure hic consequatur vero suscipit quas commodi similique quasi dolores eveniet?</p>
    </div>
    <div class="accordion-title accordion--open title-posicion">
    <h3>Doloremque officia perspiciatis aspernatur.</h3>
    <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis similique placeat nulla alias modi, vero veniam impedit architecto voluptatem quas inventore id, in earum ratione.</p>
        <p>Eos molestiae quia esse? Natus consequatur minus sint iste? Soluta quia quae qui cupiditate id, neque adipisci ad officiis corporis facilis quod quos? Aut, consectetur?</p>
    </div>
    <div class="accordion-title accordion--open title-posicion">
    <h3>Natus dolore nam sint!</h3>
    <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, soluta. Quasi illum id accusamus, repudiandae perspiciatis nisi dolore quod rem itaque distinctio dolores nulla reiciendis?</p>
        <p>Dicta expedita voluptates molestiae officiis, veritatis necessitatibus autem, nobis in magni exercitationem eaque. Consequuntur corporis ut totam sed. Veniam, mollitia fugit. Blanditiis quod architecto eligendi.</p>
    </div>
    <div class="accordion-title accordion--open title-posicion">
    <h3>Necessitatibus, vel laborum. Quo!</h3>
    <i class="fa-solid fa-chevron-down"></i>
     </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, atque quisquam aperiam, commodi quasi iste eaque ipsum molestias suscipit, repudiandae voluptatibus totam reiciendis assumenda? Iusto!</p>
        <p>Repudiandae dicta excepturi doloribus autem fugiat sit possimus velit eum quasi, nisi voluptatibus, dolore tempore asperiores architecto corporis. Quaerat ab totam quam, repudiandae assumenda reiciendis.</p>
    </div>
    <div class="accordion-title accordion--open title-posicion">
    <h3>Quas in non quia.</h3>
    <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="accordion-content ">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, fuga voluptatibus dolorum deleniti dignissimos, quae, facilis nostrum maxime sapiente eveniet possimus cupiditate corporis sequi maiores.</p>
        <p>Doloremque, repellendus! Nihil dolorum repellendus consequatur tempore ratione, suscipit quo exercitationem odio explicabo quod, libero possimus quia rem cumque eligendi dolorem. Natus alias error vel.</p>
    </div>
    <div class="accordion-title accordion--open title-posicion">
    <h3>Quas quisquam error alias.</h3>
    <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam harum eligendi nemo id placeat nobis. Nobis iusto aperiam error quidem eius fugit quibusdam maiores doloremque.</p>
        <p>Non placeat quia architecto distinctio est reiciendis doloribus itaque aliquam aspernatur perspiciatis vitae quis, inventore facere error, numquam repellat. Fugiat cum eveniet sapiente fugit ipsa.</p>
    </div>
    <div class="accordion-title accordion--open title-posicion">
    <h3>Blanditiis distinctio harum enim!</h3>
    <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus iusto impedit cumque quaerat atque est vel aspernatur alias libero debitis! Autem quae facilis excepturi itaque.</p>
        <p>Alias, eveniet. Facere vitae distinctio consequuntur pariatur possimus animi eum voluptatem, quas qui corporis esse itaque iure cupiditate minima nisi quaerat, ducimus suscipit, assumenda blanditiis!</p>
    </div>
</div>
</div>
</section>