
<form id="form" class="form">
    <fieldset>
        <legend><strong> CONTACTANOS </strong>📩</legend>
      
        
        <div class="group-display">
          
          <div class="group-border">
            <div class="form-group">
              <input type="text" name="nombre" id="nombre" class="form-input" minlength="2" maxlength="70" placeholder=" " required>
              <label for="name" class="form-label">Nombre:</label>
            </div>
          </div>
           
          <div class="group-border">
            <div class="form-group">
              <input type="text" name="email" id="email" class="form-input" placeholder=" " required>
              <label for="email" class="form-label">E-mail:</label>
            </div>
          </div>
        </div>
        
        <div class="border-comments">
           <label for="comentarios" class="title-comments">Comentarios:</label>
           <textarea class="comments" name="cometarios" id="comentarios" cols="30" rows="10" required maxlength="200"></textarea>
        </div>   
            
           <br>
           <input class="btn" type="submit" value="enviar" id="btn" disabled>
       
        
    </fieldset> 
</form>  
