
<section class="content">
    <div class="principal-pag">
      <div class="container">
    <h1 class="jugueteria">JUGUETERÍA CÓSMICA <br> 
      DONDE ENCUENTRAS LA MEJOR VARIEDAD <br> PARA TU ENTRETENIMIENTO</h1>
      <span>¡Lo mejor para el ocio!</span>
  
      <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem veritatis soluta mollitia. Expedita laboriosam voluptate ratione nihil illum dolore dolor praesentium labore sint aspernatur debitis quibusdam est amet fuga </p>

      <a href="#cards" class="button-see">Ver productos</a>

    </div>

     <div class="social-media">
    <div class="icon">
     <a target="_blank" href="https://wa.link/e9za4q"><i class="fa-brands fa-whatsapp" title="WhatsApp"></i></a> <br>
     <a target="_blank" href="https://instagram.com/mariana_lashbeauty?igshid=ZGUzMzM3NWJiOQ=="><i class="fa-brands fa-instagram" title="Instagram"></i></a> <br>
     <a target="_blank" href="https://youtube.com/@marianaareiza2280"><i class="fa-brands fa-youtube" title="Youtube"></i></a> <br>
     <a target="_blank" href="https://twitter.com/areizamariana24?t=UlTYmgSc3EGTM7c6VdaalA&s=09"><i class="fa-brands fa-twitter" title="Twitter"></i></a> <br>
    </div>
    
    </div>  
    
     </section>

<div class="linee"></div>

       
<div class="slider">
    <ul>
      <li><img src="img/carruselmonopoly.jpg" alt="monopoly"></li>
      <li><img src="img/carruseluno.jpg" alt="uno"></li>
      <li><img src="img/carruselparques.jpg" alt="parques"></li>
      <li><img src="img/carruseldomino.jpg" alt="domino"></li>
      <li><img src="img/carruselcuborubik.jpg" alt="cuborubik"></li>
      <li><img src="img/carruselajuedrez.jpg" alt="ajedrez"></li>
      <li></li>
    </ul>
</div>

<section class="cards" id="cards"></section>
